Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
PointerAlignment: Middle
AllowShortFunctionsOnASingleLine: None
BinPackParameters: false
BinPackArguments: false
BreakAfterReturnType: All
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
AlignEscapedNewlines: DontAlign
